<div class="navbar container">
    <a id="author-name" class="alignable pull-left" href="{{ site.url }}{{ site.baseurl }}">{{ site.data.info.name }}</a>
    <ul class="alignable pull-right navbar-ul">
            {% for x in site.pages %}
            {% if x.title %}
            
            <li class="alignable pull-right nav-list">/ <a href="{{site.baseurl}}{{ x.url }}"> {{ x.title }}</a>
                </li>
                {% endif %}
            
        {% endfor %}
        <li class="alignable pull-right nav-list"><a href="{% if site.baseurl=='' %} / {% else %} {{ site.baseurl }}{% endif %}">Home</a> 
            
        </ul>
</div>
<div style="clear:both"></div>
<hr>